@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  h1,
  h2 {
    @apply font-playfairDisplay;
  }

  h1 {
    @apply text-5xl sm:text-7xl xl:text-8xl font-medium;
  }

  h2 {
    @apply text-4xl sm:text-5xl xl:text-6xl font-medium;
  }

  h3,
  p,
  a {
    @apply font-openSans;
  }

  section,
  footer {
    @apply max-w-screen-xl mx-auto p-4 mb-36;
  }

  .destination-overlay {
    will-change: transform, opacity;
}


.destination-overlay:hover .destination-img {
    transform: scale(0);
    transition: transform 0.3s ease;
}

.destination-overlay:hover .destination-discover {
    transform: scale(1) translateY(-0.5rem);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.destination-overlay:hover .destination-name {
    transform: translateY(-1rem);
    transition: transform 0.3s ease;
}

  .on-hover::before {
    @apply before:content-['fsakdfh'] before:w-full before:h-[2px] before:bg-white-400 before:absolute before:top-0;
  }
}
